{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Company information" %}{% endblock %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row justify-content-center">
            <h3>{% trans "My Company" %}</h3>
        </div>
        <h4 class="mr-5">{% trans "General Information" %}</h4>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        {% include "forms/form_fields.html" %}
        <div class="form-group">
            <button class="btn btn-primary px-4" type="submit">Save</button>
        </div>
    </form>
{% endblock %}