{% extends "projects/base_projects.html" %}
{% load i18n static core_tags %}
{% load i18n static project_tags %}
{% block title %}{% trans "Projects" %}{% endblock %}

{% block projects_content %}
    {% if no_search_result %}
        <div class="alert alert-success" role="alert">
            No matches found
        </div>
    {% elif projects %}
        <h3 class="mb-3">Found {{ project_count }} projects</h3>
        {% for project in projects %}
            {% include "projects/project.html" with project=project condition='projects' %}
            <hr>
        {% endfor %}

        <!-- Pagination -->
        <div class="row">
            <div class="col-md-12">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link"
                           href="{% set_query_parameter url=request.get_full_path param_name='page' param_value=1 %}"
                           aria-label="First Page">
                            <span aria-hidden="true">First</span>
                        </a>
                    </li>
                    <li class="page-item {% if request.GET.page|int_or_1 <= 1 %}disabled{% endif %}">
                        <a class="page-link"
                           href="{% set_query_parameter url=request.get_full_path param_name='page' param_value=request.GET.page|int_or_1|subtract:1 %}"
                           aria-label="Previous">
                            <span aria-hidden="true">Previous</span>
                        </a>
                    </li>
                    {% get_last_page_num project_count page_size as last_page %}
                    <li class="page-item">
                        <span class="page-link">{{ request.GET.page|int_or_1 }} &#47; {{ last_page }}</span>
                    </li>
                    <li class="page-item {% if request.GET.page|int_or_1 >= last_page %}disabled{% endif %}">
                        <a class="page-link"
                           href="{% set_query_parameter url=request.get_full_path param_name='page' param_value=request.GET.page|int_or_1|add:1 %}"
                           aria-label="Next">
                            <span aria-hidden="true">Next</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           href="{% set_query_parameter url=request.get_full_path param_name='page' param_value=last_page %}"
                           aria-label="Last Page">
                            <span aria-hidden="true">Last</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-primary" role="alert">
                    You do not have any projects in your portfolio yet.
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
